<!DOCTYPE html>
<html>
  <head>
    <title>THE STORIES</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='style.css') }}"/>
    <link rel="shortcut icon" href="{{ url_for('static', filename='favicon.ico') }}" type="image/x-icon">
    <link rel="icon" href="{{ url_for('static', filename='favicon.ico') }}" type="image/x-icon">
  </head>
  <body>
    <center>
      {% block body %}
      <a href="/login"><button>THE STORIES 서버 입장하기</button></a>
      {% endblock %}
    </center>
  </body>
</html>
