[Unit]
Description=Botory Service

[Service]
ExecStart=/bin/bash -c 'PATH="$PATH:BIN_PATH";./run.sh'
WorkingDirectory=BOTORY_PATH

[Install]
WantedBy=multi-user.target
